*{
	transition: all .15s ease;
}
code,kbd,pre,samp{
    font-family: 'Inconsolata', monospace;
    font-size: .9rem;
}


pre{
    padding: 0 !important;
    background: none;
}

pre code{
    padding-left: 1rem !important;
}


figure{
	width: 95%;
	max-width: 700px;
	background: #ddd;
	margin: 20px auto;
	padding: 15px;
}

figure img{
	width: 100%;
	height: auto;
	margin: auto;
}

figure figcaption{
	font-size: .8rem;
	font-style: italic;
	margin-top: 8px;
}

a {
    color: #606;
    text-decoration: none;
}

blockquote {
    border-left: 2px solid #606;
}	

code {
    color: #606;
    border: 1px solid #909;
    border-radius: 0px;
}
form{
	width: 90%;
	max-width: 500px;
	margin: 25px auto;


}
input, textarea{
	width: 100%;
	border: 1px solid gray;
	padding: 10px;
	outline: none;
	box-shadow: 0px 0px 0px transparent;
}

input:focus, textarea:focus{
	outline: none;
	border: 1px solid #606;
	box-shadow: 0px 2px 0px #606;
}
label{
	display: block;
	margin: 20px 0 10px 0;
	font-weight: bold;
	font-size: 1.1rem;
}

button.submit{
	display: block;
	border-radius: 0;
	margin-top: 20px;
	margin-left: 0;
}

button.submit:hover{
	background: #303030;
}

.thanks-wrapper{
	text-align: center !important;
}
.button:hover { 
	background: #606; 
}

.button-square {
  background: #606;
}

.site-title a {
  background: #606;
}

.blog-description a:hover { 
	color: #606; 
}

.post-content a:hover {
  border-bottom: 1px dotted #606;
}

.share a {
  background: #606;
}

.newer-posts,
.older-posts {
  background: #606;
}

.post-stub a:hover {
	color: #606;
	background: #fdf3fd;
}
.post-stub a:hover .post-stub-tag { 
	background: #606; 
}

.author-meta a:hover { 
	color: #606; 
}
p.post-date a:hover{
	color: #606;
}
#nprogress .bar { 
	background: #606; 
}

#nprogress .peg { 
	box-shadow: 0 0 10px #606, 0 0 5px #606; 
}

#nprogress .spinner-icon {
    border-top-color: #606;
    border-left-color: #606;
}