*{
	transition: all .15s ease;
}
code,kbd,pre,samp{
    font-family: 'Inconsolata', monospace;
    font-size: .9rem;
}


pre{
    padding: 0 !important;
    background: none;
}

pre code{
    padding-left: 1rem !important;
}


figure{
	width: 95%;
	max-width: 700px;
	background: #ddd;
	margin: 20px auto;
	padding: 15px;
}

figure img{
	width: 100%;
	height: auto;
	margin: auto;
}

figure figcaption{
	font-size: .8rem;
	font-style: italic;
	margin-top: 8px;
}

a {
    color: #d06;
    text-decoration: none;
}

blockquote {
    border-left: 2px solid #d06;
}	

code {
    color: #d06;
    border: 1px solid #e28
    border-radius: 0px
}

.button:hover { 
	background: #d06; 
}

.button-square {
  background: #d06;
}

.site-title a {
  background: #d06;
}

.blog-description a:hover { 
	color: #d06; 
}

.post-content a:hover {
  border-bottom: 1px dotted #d06;
}

.share a {
  background: #d06;
}

.newer-posts,
.older-posts {
  background: #d06;
}

.post-stub a:hover {
	color: #d06;
}
.post-stub a:hover .post-stub-tag { 
	background: #d06; 
}

.author-meta a:hover { 
	color: #d06; 
}
p.post-date a:hover{
	color: #d06;
}
#nprogress .bar { 
	background: #d06; 
}

#nprogress .peg { 
	box-shadow: 0 0 10px #d06, 0 0 5px #d06; 
}

#nprogress .spinner-icon {
    border-top-color: #d06;
    border-left-color: #d06;
}